body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.description {
  font-size: 20px;
}

svg .tick > text {
  font-size: 16px;
}

.label {
  font-size: 20px;
  font-weight: 500;
  text-anchor: middle;
}

.axis path, .axis line {
  fill: none;
  stroke: #444;
  stroke-width: 1.5px;
}

.axis--y path, .axis--y line {
  fill: none;
  stroke: #444;
  stroke-width: 1.5px;
}

.slices {
  stroke-width: 2px;
  stroke: #fff;
}

.legend-text {
  font-size: 18px;
  font-weight: 500;
}

.spider-path{
  stroke-opacity: 1;
}

.spider-circles {
  stroke-width: 1;
  stroke: #545454;
  fill: #ddd;
  opacity: 0.3
}

.spider-lines {
  stroke-width: 2;
  stroke: #545454;
  fill: none;
}

.spider-dots {
  fill: #fff;
}

.tooltip {
  position: relative;
  bottom: 50px;
  width: 200px;
  background-color: #fdf8e7;
  border: 1px solid #545454;
  box-shadow: 1px 1px 4px 4px #444;
  color: #000;
}

.axis-sm .tick > text {
  font-size: 12px;
} 

.axis-md .tick > text {
  font-size: 14px;
} 

.axis-lg .tick > text {
  font-size: 14px;
} 

.axis-xl .tick > text {
  font-size: 16px;
} 

.axis-text-sm {
  font-size: 12px;
  font-weight: 600;
}

.axis-text-md {
  font-size: 12px;
  font-weight: 600;
}

.axis-text-lg {
  font-size: 16px;
  font-weight: 600;
}

.axis-text-xl {
  font-size: 18px;
  font-weight: 600;
}

.label-text-sm {
  font-size: 12px;
}

.label-text-md {
  font-size: 12px;
}

.label-text-lg {
  font-size: 14px;
}

.label-text-xl {
  font-size: 18px;
}

.title-text-sm {
  font-size: 18px;
  font-weight: 600;
}

.title-text-md {
  font-size: 18px;
  font-weight: 600;
}

.title-text-lg {
  font-size: 20px;
  font-weight: 600;
}

.title-text-xl {
  font-size: 24px;
  font-weight: 700;
}

.hexbin-text-sm {
  font-size: 10px;
  font-weight: 400;
}

.hexbin-text-md {
  font-size: 14px;
  font-weight: 500;
}

.hexbin-text-lg {
  font-size: 16px;
  font-weight: 500;
}

.hexbin-text-xl {
  font-size: 16px;
  font-weight: 500;
}

.bubbles-label-sm {
  font-size: 22px;
}

.bubbles-label-md {
  font-size: 22px;
}

.bubbles-label-lg {
  font-size: 26px;
}

.bubbles-label-xl {
  font-size: 26px;
}

.highlight {
  opacity: 1 !important;
  stroke: red !important;
  stroke-width: 2px !important;
  stroke-opacity: 0.8 !important;
}

#voronoi-group {
  pointer-events: all;
}

.voronoi {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}

/* shadow trick from bl.ocks.org */
#tooltip {
  font-size: 10pt;
  font-weight: 900;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, -1px -1px 0 #252525;
}